/* body {
  background-color: #121212;
  color: #ffffff;
}

a {
  color: #bb86fc;
}

header, footer, .container {
  background-color: #1e1e1e;
} */
/* form input[type="text"], form input[type="email"], form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
} */
.center-text {
    text-align: center;
  }