/* body {
  background-color: #121212;
  color: #ffffff;
}

a {
  color: #bb86fc;
}

header, footer, .container {
  background-color: #1e1e1e;
} */
/* form input[type="text"], form input[type="email"], form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
} */
.center-text {
    text-align: center;
  }
 /* Layout styles */
 .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/* Label takes 30% width */
.form-group label {
  width: 30%;
  margin-right: 10px;
}

/* Input and textarea take 70% width */
.form-group input, .form-group textarea {
  width: 70%;
  padding: 8px;
  border: 5px solid #ccc;  /* 5px border for inputs and textareas */
  border-radius: 4px;
}
.form-group label {
  width: 30%;
  font-size: 16px;
}

.form-group select {
  width: 70%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
/* Textarea specific styling */
.form-group textarea {
  height: 100px;
  resize: vertical; /* Allow vertical resizing */
}

/* Button styling */
button {
  padding: 10px 20px;
  border: 2px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

#responseMessage {
  color: red;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}